extends layout.pug

block content
  .card(style='max-width:20rem; padding-left:1rem; padding-right:1rem; padding-bottom:1.5rem')
    .card-body
    h4.card-title Bienvenido
    p.card-text Esta es mi primera aplicacion con NodeJS con el patrón de diseño MVC. 
    p.card-text Haz click en lo enlaces de la barra de navegación para empezar.